#map{
 height: 400px;
 width: 95%;
 margin: 30px auto;
}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

a {
  cursor: pointer;
}

.page-footer{
  margin-top: 15em !important;
 }

 .hidden {
  display: none;
 }

 .red {
  background-color: red;
  color: red;
 }

