#map{
  height: 400px;
  width: 95%;
  margin: 30px auto;
}

body {
  background-color: #ebe9e9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}
.navbar {
  border-radius: 0px;
}
.navbar, footer {
  background: #034732;
}
.nav-tree {
  color: #c6c013;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}
.home-link {
  font-family: 'Lato', sans-serif;  
  font-size: 36px;
  color: #c6c013;
}
.home-link:hover{
  color: #ebe9e9;
}
.profile-menu {
  color: #c6c013;
  font-size: 20px;
}
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  color: #ebe9e9;
  background: #034732;
}

.page-footer{
  margin-top: 15em !important;
 }

 .hidden {
  display: none;
 }

 .red {
  background-color: red;
  color: red;
 }

.footer-basic-centered{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px;
  margin-top: auto;
}

.footer-basic-centered .footer-company-motto{
  color:  #f0f0c9;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #f0f0c9;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #f0f0c9;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}
.loading, .getting_markers, .loading-icon {
  font-size: 20px;
  color: #034732;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}

.gif-container {
  height: 30px;
  text-align: center;
}
.glyphicon {
  font-size: 35px !important; 
}
.icon {
  
}


