<div class='container fixed-user'>
  <div class="well">
    <div class="page-header">
      <h1>{{userInfo.username}}</h1>
    </div>
    <h3>Status: {{hikerStatus}}</h3>
  </div>

<div class="container">
  <h3>Complete 5 trails</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-success active" id="hikeFive" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    {{maxFilter(userInfo.haveDone.length, 5)}} / 5
    </div>
  </div>

  <h3>Complete 25 trails</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-warning active" id="hikeTwentyFive" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
    {{maxFilter(userInfo.haveDone.length, 25)}} / 25
    </div>
  </div>

  <h3>Complete 100 trails</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-danger active" id="hikeHundred" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
      {{maxFilter(userInfo.haveDone.length, 100)}} / 100
      </div>
    </div>
  </div>
  <hr>
  <div class='col-sm-6 well'>
   <h3> Trails I Have Done: </h3>
    <div ng-repeat='trailName in userInfo.haveDone track by $index'>
      <p>{{trailName}}</p>
    </div>
  </div>
   <div class='col-sm-6 well'>
     <h3> Trails I Want To Do: </h3>
     <div ng-repeat='trailName in userInfo.wantToDo track by $index'>
     <p>{{trailName}} <button class="btn btn-success did-it-button" ng-click='moveTrail(this.trailName, "/moveTrails")'>Did it!</button></p>
     
     </div>
   </div>

 </div>


