<div class='container fixed-homepage'>
  <div class="page-header">
    <h1 test>Hello {{userInfo.username}}</h1>  
  </div>
  <div class="row well">
    <div class="col-sm-6">
      <form>
        <p class="lead">See trails near you! <small>Enter a radius:</small></p>
        <select class="form-control" name="radius" ng-model="userInfo.radius" ng-change="getTrailsNearUser(userInfo)" >
          <option selected default>Select a radius</option>
          <option value="10">10 miles</option>
          <option value="20">20 miles</option>
          <option value="50">50 miles</option>
          <option value="100">100 miles</option>
        </select>
        <!-- <input type="text" name="location" ng-change="getTrailsNearUser(searchData)" placeholer="Or search for a location">
        <button type="submit" name="submit" ng-submit="getTrailsNearUser(searchData)">Find Trails</button> -->
      </form>
    </div>
  </div>

  <br>

  <div class='gif-container'>
    <div ng-if="loading">
      <p class='loading'>Getting an aerial view...</p>
      <span class="glyphicon glyphicon-plane loading-icon"></span>
    </div>
    <div ng-if='getting_markers'>
      <span class='getting_markers'>Unpacking and placing markers...</span>
      <span class="glyphicon glyphicon-map-marker loading-icon"></span>
    </div>
  </div>

  <!-- This is where the leaflet map renders: -->
  <div id="map"></div>
  <hr>
  <div class="col-sm-6 well">
    <h3> Trails I Have Done: </h3>
    <div ng-repeat='trailName in userInfo.haveDone track by $index'>
     <p>{{trailName}}</p>
    </div>
  </div>

   <div class="col-sm-6 well">
     <h3> Trails I Want To Do: </h3>
     <div ng-repeat='trailName in userInfo.wantToDo track by $index'>
       <p>{{trailName}} <button class="btn btn-success did-it-button" ng-click='moveTrail(this.trailName, "/moveTrails"); changeColor(this.trailName, greenIcon, "did it")'>Did it!</button></p>
     </div>
   </div>
 </div>



