

<div class='container'>
  
    <h1 test>Hello {{userInfo.username}}</h1>
    



<!-- Materialize got in the way of angular's data binding here:
Because of the material.select() we had to call to initialize the select form -->

<!-- <form name='mapform' ng-submit='getCoords(userInfo)'> -->
<div class="row">
  <div class="col-sm-6">
    <p class="lead">See trails near you! <small>Enter a radius:</small></p>
    <select class="form-control" name="radius" ng-model="userInfo.radius" ng-change="getCoords(userInfo)" >
      <!-- <option selected disabled>Select a radius</option> -->
      <option value="10">10 miles</option>
      <option value="20">20 miles</option>
      <option value="50">50 miles</option>
      <option value="100">100 miles</option>
    </select>
  </div>
</div>
<br>

<!-- </form> -->

  <!-- <button
   type='submit'>Submit</button> -->


<!--<form name='mapform' ng-submit='getCoords(userInfo)'>
  <input placeholder='Enter a radius' ng-model='userInfo.radius'></input>
  <button type='submit'>Submit</button>
</form>

<form> -->
<!-- <form name='mapform' ng-submit='getCoords(userInfo)'>
  <div class="form-group">
      <label for="radius">Radius</label>
      <input class="form-control" placeholder="Radius" ng-model='userInfo.radius'>
    <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form> -->
<div class='gif-container'>
  <div ng-if="loading">
    <p class='loading'>Getting an aerial view...</p>
    <span class="glyphicon glyphicon-plane loading-icon"></span>
  </div>
  <div ng-if='getting_markers'>
    <span class='getting_markers'>Unpacking and placing markers...</span>
    <span class="glyphicon glyphicon-map-marker loading-icon"></span>
  </div>
</div>

 <div id="map">

 </div>
 <div class="col-xs-6">
   <h3> Trails I Have Done: </h3>
   <div ng-repeat='trailName in userInfo.haveDone track by $index'>
     <p>{{trailName}}</p>
   </div>
 </div>
 <div class="col-xs-6">
   <h3> Trails I Want To Do: </h3>
   <div ng-repeat='trailName in userInfo.wantToDo track by $index'>
     <p>{{trailName}} <button class="btn btn-success" ng-click='moveTrail(this.trailName, "/moveTrails")'>Did it!</button></p>
     
   </div>
 </div>


</div>
