

<div>
<h1 test>Home Page</h1>

<!-- Materialize got in the way of angular's data binding here:
Because of the material.select() we had to call to initialize the select form -->

<!-- <form name='mapform' ng-submit='getCoords(userInfo)'>

  <label for="radius">Radius</label>
  <select name="radius" ng-model='userInfo.radius' >

    <option value="10">10 miles</option>
    <option value="20">20 miles</option>
    <option value="50">50 miles</option>
    <option value="100">100 miles</option>
  </select>

  <button type='submit'>Submit</button>
</form> -->

<leaflet lf-center="london" event-broadcast="events" markers="markers" height="480px" width="100%"></leaflet>
    <h1>Markers simple example</h1>
    <p>Initial marker position (lat/lng): <strong ng-bind="markers.mainMarker.lat"></strong> / <strong ng-bind="markers.mainMarker.lng"></strong></p>
    <p>Actual marker position (lat/lng): <strong  ng-bind="position.lat"></strong> / <strong ng-bind="position.lng"></strong></p>
    </p>


<form name='mapform' ng-submit='getCoords(userInfo)'>
  <input placeholder='Enter a radius' ng-model='userInfo.radius'></input>
  <button type='submit'>Submit</button>
</form>

<span ng-if="loading"><img src="assets/spiffygif_46x46.gif"></span>

 <div id="map">

 </div>

</div>
