<div id='signin' class="container">
  <h1>signin</h1>
  <form name="signinForm" ng-submit='' class="row">
    <input type='text' class="col s4" ng-model='user.username' name="signinUser" placeholder="Enter your username" required ng-class="{'error': signinUser.$invalid && signinUser.$dirty}"/>
    <input type="password" class="col s4 offset-s1" ng-model='user.password' name="signinPassword" placeholder="Enter your password" required ng-class="{'error': signinPassword.$invalid && signinForm.$dirty}"/>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
      <div ng-if='signinForm.signinUser.$error.required && signinForm.$dirty' class='message'>
        <h2>Username required</h2>
    </div>
    <div ng-show='signinForm.signinPassword.$error.required && signinForm.$dirty' class='message'>
        <h2>Password required</h2>
    </div>
</div>